/* ---------------- Nav Bar ------------------*/
header, footer {
  padding: 20px 20px;
  color: white;
  font-size: 16px;
  background-color: rgba(15, 178, 180, 0.7);
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}
header nav {
  display: flex;
  justify-content: flex-end;
}

header a {
  padding-right: 20px;
  color: #000000;
}

header a:hover {
  text-decoration: none;
  color: #000000;
}

footer {
  padding: 80px 0 100px 0;
  color: white;
  font-size: 18px;
  background-color: #0fb2b4;
}

/* ---------------- Intro ------------------*/
.project-banner {
  height: 600px;
  height: 100vh;
  overflow: hidden;
  /*max-height: 600px;*/
  position: relative;
  background-size: cover;
  background-position: 50%;
  border-bottom: 2px solid #0fb2b4;
}

.california {
  background-image: url("images/california.jpg");
}

.bali {
  border-top: 2px solid #0fb2b4;
  background-image: url("images/bali.jpg");
  background-position: 0px -300px;
}

.france {
  border-top: 2px solid #0fb2b4;
  background-image: url("images/france.jpg");
}

.chicago {
  border-top: 2px solid #0fb2b4;
  background-image: url("images/chicago.jpg");
}

/*---cs---*/
.brainpoints {
  background-image: url("images/brainpoints/bwwomen.jpg");
}

.cambly {
  background-image: url("images/cambly/bwvideocall.jpg");
}

.mobilehealth {
  background-image: url("images/mobilehealth/bweric.jpg");
}

.bmeg {
  background-image: url("images/bmeg/bwbuildings.jpg");
}

/*---design---*/
.alphandle {
  background-image: url("images/bwalphandlecadrender.png");
}

.cognitivebiastrainingmodule {
  background-image: url("images/cognitivebiastrainingmodule/bwshannon.png");
}

.industrial-design {
  background-image: url("images/industrialdesign/bwfireplace16.png");
}

/*---art---*/
.tidakuntukjual {
  background-image: url("images/tidakuntukjual/bwporch.jpg");
}

.creative-hobbies {
  background-image: url("images/creativehobbies/bwlatournette.jpg");
}


.heading-box {
  max-width: 700px;
  padding: 80px 0 80px 0;
  margin: 50px auto;
  background-color: rgba(191,191,191,0.9);
}

h1.name {
  /*color: #0fb2b4;*/
  max-width: 530px;
  margin: auto;
  padding-bottom: 10px;
  border-bottom: 2px solid #0fb2b4;
  font-size: 70px;
}

h3.tagline {
  max-width: 550px;
  margin: auto;
  padding-top: 20px;
}

/* ---------------- General Formatting ------------------*/
.grey-background {
  background: #DCDCDC;
}

.blue-underline {
  padding-bottom: 10px;
  border-bottom: 2px solid #0fb2b4;
}

.blue-underline.centered {
  max-width: 300px;
  margin: auto;
}

.info-main {
  padding: 40px 0px 80px 0px;
  min-height: 500px
}

.lightgrey {
  background: #bfbfbe;
}

.blue {
  background: #0fb2b4;
}

.bluegrey {
  background:   #708090;
}

.white {
  background: white;
}
/* ---------------- Hexagonal Grid ------------------*/

#grid {
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding-top: 40px; /* Clears unordered list default of 40px */
}
.clear:after {
    content: "";
    display: block;
    clear: both;
}
#grid li {
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    overflow: hidden;
    visibility: hidden;
}


#grid li .hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*#91a5a4 // #0fb2b4 // */
    
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
}

#grid li * {
    visibility: visible;
}
#grid li:nth-child(3n+2) {
  margin: 0 5%;
}
#grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6) {
    margin-top: -4%;
    margin-bottom: -4%;
    -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
}
#grid li:nth-child(6n+4) { 
    margin-left: 2.5%;
}
/*Hexagonal Images*/

#grid li .hexagon img {
  left:-100%;
  right:-100%;
  height:100%;
  width: auto;
  margin: 0 auto;
  -o-transition: all 0.6s linear 0s; 
  -moz-transition: all 0.6s linear 0s; 
  -ms-transition: all 0.6s linear 0s; 
  -webkit-transition: all 0.6s linear 0s; 
  transition: all 0.6s linear 0s;
}

#grid li .hexagon img.cambly {
  height:130%;
  -o-transform: translateZ(0) translateX(-20%) translateY(-10%);
  -moz-transform: translateZ(0) translateX(-20%) translateY(-10%);
  -webkit-transform: translateZ(0) translateX(-20%) translateY(-10%);
  -ms-transform: translateZ(0) translateX(-20%) translateY(-10%);
  transform: translateZ(0) translateX(-20%) translateY(-10%);
}

#grid li:hover img {
  height: 150%;
  -o-transform: translateZ(0) translateX(-25%);
  -moz-transform: translateZ(0) translateX(-25%);
  -webkit-transform: translateZ(0) translateX(-25%);
  -ms-transform: translateZ(0) translateX(-25%);
  transform: translateZ(0) translateX(-25%);
}

#grid li:hover img.cambly {
  height:180%;
  -o-transform: translateZ(0) translateX(-40%) translateY(-10%);
  -moz-transform: translateZ(0) translateX(-40%) translateY(-10%);
  -webkit-transform: translateZ(0) translateX(-40%) translateY(-10%);
  -ms-transform: translateZ(0) translateX(-40%) translateY(-10%);
  transform: translateZ(0) translateX(-40%) translateY(-10%);
}

/*Hexagonal Text*/
#grid li .hexagon .hexagon-small-font, .hexagon-medium-font, .hexagon-large-font {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);    /* Older Gecko browser */
  -ms-transform: translate(-50%, -50%);     /* IE9+ */
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#grid li .hexagon .hexagon-large-font {
  font-size: 30px;
  font-size: 2.0vw;
  color: white;
}

#grid li .hexagon .hexagon-medium-font {
  font-size: 18px;
  font-size: 1.4vw;
  color: white;
  /*visibility: hidden;*/
}

#grid li .hexagon .hexagon-small-font {
  /*font-size: 18px;*/
  font-size: 1vw;
  color: white;
  /*visibility: hidden;*/
}

#grid li:hover .hexagon .project-title-main {
  visibility: visible;

}

/*Hexagonal overlays*/
#grid li .hexagon .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*background: rgba(255,255,255,0);*/
}

#grid li:hover .overlay {
  -o-transition: all 0.6s linear 0s; 
  -moz-transition: all 0.6s linear 0s; 
  -ms-transition: all 0.6s linear 0s; 
  -webkit-transition: all 0.6s linear 0s; 
  transition: all 0.6s linear 0s;
}

#grid li:hover a {
  color: #000000;
}

#grid li .cs {
  background: rgba(191,191,191,0.9);
}

#grid li .dsgn {
  background: rgba(15, 178, 180, 0.9);
}

#grid li .art {
  background: rgba(112,128,144, 0.9);
}


#grid li:hover .cs {
  background: rgba(191,191,191,0.4);
}

#grid li:hover .dsgn {
  background: rgba(15, 178, 180, 0.4);
}

#grid li:hover .art {
  background: rgba(112,128,144, 0.4);
}

#grid li.contact:hover .cs {
  background: rgba(191,191,191, 1);
}

#grid li.contact:hover .dsgn {
  background: rgba(15, 178, 180, 1);
}

#grid li.contact:hover .art {
  background: rgba(112,128,144, 1);
}

/* ---------------- About Me ------------------*/
.lifestyle, .workstyle {
  max-width: 700px;
  margin: auto;
  padding-top: 20px;
  font-size: 18px;
}

.lifestyle {
  padding-top: 80px;
}

#grid li.aboutme:hover img {
  height:100%;
  -o-transform: translateZ(0) translateX(0);
  -moz-transform: translateZ(0) translateX(0);
  -webkit-transform: translateZ(0) translateX(0);
  -ms-transform: translateZ(0) translateX(0);
  transform: translateZ(0) translateX(0);
}

/* ---------------- Contact ------------------*/
/*Hexagonal Images*/
#grid li.contact .hexagon img {
  left:50%;
  right:50%;
  height:70%;
  /*width: auto;*/
  /*margin: 0 auto;*/
  -o-transform: translateZ(0) translateX(13%) translateY(20%);
  -moz-transform: translateZ(0) translateX(13%) translateY(20%);
  -webkit-transform: translateZ(0) translateX(13%) translateY(20%);
  -ms-transform: translateZ(0) translateX(13%) translateY(20%);
  transform: translateZ(0) translateX(13%) translateY(20%);
}

#grid li.contact:hover img {
  height: 100%;
  -o-transform: translateZ(0) translateX(-7%) translateY(20%);
  -moz-transform: translateZ(0) translateX(-7%) translateY(20%);
  -webkit-transform: translateZ(0) translateX(-7%) translateY(20%);
  -ms-transform: translateZ(0) translateX(-7%) translateY(20%);
  transform: translateZ(0) translateX(-7%) translateY(20%);
}

#contact #grid {
  padding-top: 80px;
}

.contact {
  font-size: 18px;
}
/* ---------------- Projects ------------------*/
.info-project {
  padding: 100px;
}

.info-project h5 {
  padding: 5px 5px 10px 5px;
}

/*ul.project-images li {
  width: 15%;
}
ul.project-images img {
  width: 700%;
  margin: 10px;
}*/


header.nav-container {
  background: #DCDCDC;
}


ul.project-bullets {
  list-style-type: square;
  padding-bottom: 20px;
}


.project-title {
  max-width: 700px;
  max-height: 350px;
  padding: 80px 20px 80px 20px;
  margin: 20px auto;
  background-color: rgba(191,191,191,0.9);
}

.project-title h1 {
  max-width: 550px;
}

.project-skills {
  max-width: 700px;
  max-height: 130px;
  padding: 10px 0 50px 0;
  margin: 20px auto;
  background-color: rgba(191,191,191,0.9);

}

.project-skills h3 {
  padding-top: 10px;
}

.skills {
  padding-top: 20px;
}

h1.name {
  font-size: 70px;
}

.button {
  padding-top: 20px;
  text-align: center;
}
button.projects {
  padding: 15px 20px;
  background-color: #0fb2b4;
}
.button a {
  color: #000000;
}

.button a:hover {
  text-decoration: none;
  color: #000000;
}


/* ---------------- Pages of photos ------------------*/
.photo-grid {
  padding-bottom: 80px;
  padding-top: 80px;
}

.photos {
  width: 57%;
  margin: 0 auto;
  /* Prevent vertical gaps */
  line-height: 0;   
  -webkit-column-count: 2;
  -webkit-column-gap:   0px;
  -moz-column-count:    2;
  -moz-column-gap:      0px;
  column-count:         2;
  column-gap:           0px;  
}

.photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding: 15px;
}


/* ---------------- Image Modal ------------------*/
/* Style the Image Used to Trigger the Modal */
.photos img {
  cursor: pointer;
}
.photos img:hover {
  opacity: 0.7;
}

div.please-center {
  display: block;
  margin: 0 auto;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    display: block;
    margin: 0 auto;
    
}

/* Modal Content (Image) */
#myModal .mySlides {
  margin: auto;
  max-height: 200px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* The Close Button */
span.close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    color: #bbb;
}

span.close:hover,
span.close:focus {
    color: rgba(15, 178, 180, 0.8);
    text-decoration: none;
    cursor: pointer;
}

/* ---------------- Image Slideshow ------------------*/

.project-images-container {
  padding-top:35px;
  margin: 20px;
}

.mySlides {
   background-color: rgba(0,0,0,0.8);
   margin-bottom: 8px;
   width: 520px;
   height: 360px;
}


img.project-image {
  display: block;
  max-width: 520px;
  max-height: 360px;
  margin: 0 auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(15, 178, 180, 0.8);
  text-decoration: none;
}

/* Caption text */
.caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 520px;
  text-align: center;
  background-color: rgba(15, 178, 180, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(15, 178, 180, 0.3);

  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgba(15, 178, 180, 0.9);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

